<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.thead-dark {
  th {
    color: $table-dark-color;
    background-color: $table-dark-bg;
    border-color: $table-dark-border-color;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


</style>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/Welcome">CloudContainers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Register container to journey</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/UpdateInfo">Update Information</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Log out</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<br>
<div style="text-align:center">
<h1 th:text="${'Hello ' + client.getName() + '!'}" th:unless="${client == null}"></h1>
</div>
<br>

<table style="width:80%;margin-left:auto;margin-right:auto">
  <tr>
    <th>Container ID</th>
    <th>Content</th>
    <th>Port of Origin</th>
    <th>Destination</th>
    <th>Time to Destination</th>
    <th>Status Data</th>
    <th>Accessibility</th>
    <th>Grant access</th>
    <th>Place on journey</th>
  </tr>
  <tr th:each="container: ${clientContainers}">
    <td style="text-align:center" th:text="${container.getContainerID()}" />
     
    <td style="text-align:center" >
    <form th:if="${container.getContent().equals('')}" th:action="@{'/content/' + ${container.getContainerID()}}" method="post">
     <div class="form-group">
	    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Content" name="content" required>
 	 </div>
  	</form>
  	<p th:if="${!(container.getContent().equals(''))}" th:text="${container.getContent()}"></p>
  	</td>
    
	<td style="text-align:center" th:text="${!(container.getCurrentJourney() == null)} ? ${container.getCurrentJourney().getPortOfOrigin()} : 'N/A'" />
    <td style="text-align:center" th:text="${!(container.getCurrentJourney() == null)} ? ${container.getCurrentJourney().getDestination()} : 'N/A'" />
    <td style="text-align:center" th:text="${!(container.getCurrentJourney() == null)} ? ${container.getCurrentJourney().getTimeToDestination()} : 'N/A'" />
    <td style="text-align:center"><a th:href="@{'/container/' + ${container.getContainerID()}}">See status</a></td>
    <td style="text-align:center" th:text="${container.getOwner().equals(client)} ? 'Owned' : 'Has access'" />
    <td style="text-align:center">
    	<div class="dropdown" th:if="${!(container.getOwner() == null) ? client.equals(container.getOwner()) : false}">
		  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Allow
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		  <th:block th:each="toClient: ${clients}">
		    <a class="dropdown-item" th:if="${!(container.getAccessClients().contains(toClient))}" th:text="${toClient.getName()}" th:href="@{'/grantAccess/' + ${toClient.getClientID()} + '/' + ${container.getContainerID()}}"></a>
		  </th:block>
		  </div>
		</div>
		
		<div th:if="${!(container.getOwner() == null) ? !(client.equals(container.getOwner())) : false}">
			Not your container
		</div>
		<div th:if="${container.getOwner() == null}">
			Not your container
		</div>
		
	</td>
		
    <td style="text-align:center">
    	<div class="dropdown" th:if="${!container.isOnJourney()}">
		  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Journeys
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		  <th:block th:each="journey: ${journeys}">
		    <a class="dropdown-item" th:text="${journey.getPortOfOrigin() + ' - ' + journey.getDestination() + ' ID: ' + journey.getJourneyID() }" th:href="@{'/toJourney/' + ${journey.getJourneyID()} + '/' + ${container.getContainerID()}}"></a>
		  </th:block>
		  </div>
		</div>
		
		<div th:if="${container.isOnJourney()}" th:text="${'On journey ' + container.getCurrentJourney().getJourneyID()}"></div>
		
		
	</td>

	</tr>
</table>



</div>

</body>
</html>
